<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Website description-->
    <meta name="description" content = "Covotec Ltda"/>
    <meta name="author" content ="Edison Monsalve L.">
    <meta name="keywords" content ="Seguridad, Vigilancia Fisica, Electronica, Alarmas">

    <!--Favicon & App Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="../views/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../views/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../views/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../views/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../views/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../views/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../views/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../views/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../views/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../views/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../views/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../views/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../views/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../views/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="../views/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">

    <title>Covitec Ltda | Error403</title>

    <!-- Bootstrap -->
    <link href="../views/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../views/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../views/assets/nprogress/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../views/assets/build/css/custom.min.css" rel="stylesheet">
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
              <h1 class="error-number">500</h1>
              <h2>Error de servidor interno</h2>
              <p>Realizamos un seguimiento de estos errores automáticamente, pero si el problema persiste no dude en contactarnos. Mientras tanto, intente refrescar. <a href="#">¿Reporta esto?</a>
              </p>
              <div class="mid_center">
                <h3>Buscar</h3>
                <form>
                  <div class="col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Buscar...">
                      <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    <!-- jQuery -->
    <script src="../views/assets/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../views/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- NProgress -->
    <script src="../views/assets/nprogress/nprogress.js"></script>



    <!-- Custom Theme Scripts -->
    <script src="../views/assets/build/js/custom.min.js"></script>
    </body>
    </html>
