.idea/
views/assets/imagenes/circular/
views/assets/imagenes/consignas_general/
views/assets/imagenes/consignas_particular/
views/assets/imagenes/equipo_reparacion/
views/assets/imagenes/foro_visitante/
views/assets/imagenes/instruccion/
views/assets/imagenes/instruccion/
views/assets/imagenes/novedad/
views/assets/imagenes/protocolo/
